In [1]:
# Execute this block of code first
import sys
sys.path.append('./venv/Lib/site-packages/')
sys.path.append('./venv/Scripts/')

In [2]:
# Execute this block of code to design selenium tests in real time
from business_components.web_components.get_quote import *
from selenium import webdriver
from object_repository.pages.AppInputForm import InputForm
from webdriver_manager.chrome import ChromeDriverManager
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get("https://www.seleniumeasy.com/test/")
driver.maximize_window()

c:\users\aswin\appdata\local\programs\python\python39\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')


====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\aswin\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe] found in cache

In [3]:
driver.title

'Selenium Easy - Best Demo website to practice Selenium Webdriver Online'

In [4]:
from object_repository.pages.AppInputForm import InputForm
InputForm(driver).enter_fname("hello world")

TimeoutException: Message: Timeout in finding the element by name first_name
TimeoutException: Message: Timeout in finding the element by xpath //input[@data-bv-field='first_name']
TimeoutException: Message: Timeout in finding the element by css selector input[placeholder='First Name']
inside heal run mode
<input name="first_name" placeholder="First Name" class="form-control" type="text" data-bv-field="first_name">{'x': 694, 'y': 380}

In [5]:
InputForm(driver).enter_lname("hello world")

TimeoutException: Message: Timeout in finding the element by name last_name
TimeoutException: Message: Timeout in finding the element by css selector input[placeholder='Last Name']
inside heal run mode
<input name="last_name" placeholder="Last Name" class="form-control" type="text" data-bv-field="last_name">{'x': 694, 'y': 430}

In [8]:
driver.find_element_by_name("last_name").send_keys("testing")

In [2]:
# Execute this block of code to design Rest api tests interactively
import requests
from PyAuto.PyAutoRest import PyRest
rest_client = PyRest("https://reqres.in/")
rest_client.get("api/users", params={"page":2})
rest_client.response.status_code

200

In [4]:
rest_client.response.json()['page']

2

In [19]:
#Execute this block of code for designing soap tests
from zeep import Client
soap_client = Client("http://dneonline.com/calculator.asmx?wsdl")
soap_client.service.Add(5, 6)

11

In [18]:
#Execute this block of code for designing db tests
from sqlalchemy import create_engine
from config import TestConfig as config
from PyAuto.PyAutoDatabase import PySQLDatabase
from object_repository.tables.actors_table import *

engine = create_engine("sqlite:///resources/movies.db")
with engine.connect() as connection:
    result = PySQLDatabase(connection).execute_query(query_first_name_johny).recordset.fetchall()
result

[(5, 'JOHNNY', 'LOLLOBRIGIDA', '2019-04-11 18:11:48'),
 (40, 'JOHNNY', 'CAGE', '2019-04-11 18:11:48')]

In [19]:
# example on loading a table to pandas
with engine.connect() as connection:
    result = PySQLDatabase(connection).table_save_data_frame("actor").recordset_df

result

     actor_id first_name     last_name         last_update
0           1   PENELOPE       GUINESS 2019-04-11 18:11:48
1           2       NICK      WAHLBERG 2019-04-11 18:11:48
2           3         ED         CHASE 2019-04-11 18:11:48
3           4   JENNIFER         DAVIS 2019-04-11 18:11:48
4           5     JOHNNY  LOLLOBRIGIDA 2019-04-11 18:11:48
..        ...        ...           ...                 ...
195       196       BELA        WALKEN 2019-04-11 18:11:48
196       197      REESE          WEST 2019-04-11 18:11:48
197       198       MARY        KEITEL 2019-04-11 18:11:48
198       199      JULIA       FAWCETT 2019-04-11 18:11:48
199       200      THORA        TEMPLE 2019-04-11 18:11:48

[200 rows x 4 columns]

In [22]:
result.head(1)

   actor_id first_name last_name         last_update
0         1   PENELOPE   GUINESS 2019-04-11 18:11:48

In [13]:
result['last_name']

0           GUINESS
1          WAHLBERG
2             CHASE
3             DAVIS
4      LOLLOBRIGIDA
           ...
195          WALKEN
196            WEST
197          KEITEL
198         FAWCETT
199          TEMPLE
Name: last_name, Length: 200, dtype: object

In [14]:
result[result['actor_id'] > 40].shape[0] # the number of records after filtering with the condition actor id is > 40

160

In [29]:
result['first_name'].apply(lambda x: x.lower())

0      penelope
1          nick
2            ed
3      jennifer
4        johnny
         ...
195        bela
196       reese
197        mary
198       julia
199       thora
Name: first_name, Length: 200, dtype: object

In [28]:
"PENELOPE".lower()

'penelope'